<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <!-- flowbite linking -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body>
   <div class=" bg-gray-200 w-1/2 p-4 flex flex-col items-center space-y-3 mx-auto mt-4">
      <h1 class="text-2xl font-bold "data-th-text="${name}">Welcome to home page</h1>
      <p class="text-xl text-gray-700">YouTube Channel : <span data-th-text="${youtubeChannel}"></span></p>
      <p>GitHub Rep Link : <span data-th-text="${githubRepo}"></span></p>
      <a th:href="${githubRepo}">Click here</a>
      <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellendus qui consequuntur vitae aspernatur porro ex corporis explicabo odio corrupti.</p>
    <div>
        <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-500">Click here</button>
    </div>
   </div>


   <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>